body { margin: 60px auto; width: 70%; }

a { text-decoration: none; color: #999; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.7em; line-height: 1.4em; color: #333; }

h1, h2, h3, h4 { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
h1 { font-size: 3em;  }
h2 { font-size: 2.7em; }
h3 { font-size: 2.3em; }
h4 { font-size: 1.9em; }

nav ul, footer ul { font-size: 1em; font-family: 'Helvetica', 'Arial', 'Sans-Serif'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

footer { border-top: 1px solid #d5d5d5; font-size: 1em; }


.lamb {
  display: flex;
  align-items: center;
  justify-content: center
}
/*
img {
  max-width: 100%
}*/

.image {
  flex-basis: 40%
}

.info {
  
  padding-left: 20px;
}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.5em; }
ul.posts li { list-style: none; }

/* CV */
.cv { margin: 0px 0px 60px; }
.cv h1 { font-size: 3em; }
.cv h2 { font-size: 2em; }
.cv h3 { font-size: 1em; text-transform: uppercase;font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
.cv address, .cv .download { font-family: 'Helvetica', 'Arial', 'Sans-Serif'; }
/*.cv address, .cv p { font-size: 1.2em; }*/
.cv .download {  font-size: .8em; text-transform: uppercase; }

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
  }

/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 5px;
    left:25%;
  }

  /*animal styling */
/*
 .animals div.gallery {
    border: 1px solid #ccc;
  }
  
  .animals  div.gallery:hover {
    border: 1px solid #777;
  }
  
  .animals div.gallery img {
    width: 100%;
    height: auto;
  }
  
  .animals  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .animals .responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
  }
  
   @media only screen and (max-width: 700px) {
    .animals .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
   @media only screen and (max-width: 500px) {
    .animals .responsive {
      width: 100%;
    }
  }
  
  .animals .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }

*/