<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!--
    <script src=’http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.2.1.js’></script>    
    <script>
        $(window).load(function () {
    $('.hiddenMail').on('click',function(event)
    {
        event.preventDefault();
        $(this).off("click");
        var email = $(this).attr("data-email").replace(/AT/,'@').replace(/DOT/,'.');
        $(this).removeClass("hiddenMail");
        $(this).html(email);
        $(this).attr("href","mailto:"+email);
    });
});

    </script>
-->
</head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
    <!-- 
   <li><a class="hiddenMail" data-email="sol.he1999ATgmailDOTcom">
    Show Email
</a></li>
-->
    <li><a href="mailto:sol.he1999@gmail.com">Email</a></li>
   <li><a href="https://github.com/sol-he">github.com/sol-he</a></li>
   </ul>
  </footer>
  </body>

</html>
